*, ::before, ::after{
    box-sizing: border-box;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust */
body{
    background:url(bg.jpg) no-repeat;
    font-family: 'Open Sans', sans-serif;
}

nav{
    margin-left: 20px;
    position: relative;
    display: flex;
}

nav a{
    color: #8f8f8f;
    position: relative;
    margin: 8px 20px 0 60px;
    font-size: 25px;
    text-decoration: none;
}

.href{
    display: flex;
    justify-content: center;
    width: 2000px;
    background:#28292d;
    border-radius: 5px;
}

nav .marker {
    left: 0;
    position: absolute;
    height: 4px;
    width: 0;
    background: #0000FF;
    bottom: -1px;
    transition: 0.5s;
    border-radius: 4px;
    animation: mrBg 6s infinite alternate;
}

@keyframes mrBg{
    0%{
        background: #C71585;
    }
    35%{
        background: #00FFFF;
    }
    60%{
        background: #FF4500;
    }
    100%{
        background: #008000;
    }

}

.out{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 500px;
    height: 45px;
    position: relative;
    background: #28292d;
    border-radius: 5px;
}

.main_search{
    border-radius: 5px;
    margin-top: 6.725px;
    width: 100px;
    height: 30px;
    position: relative;
    background: #8f8f8f;
}

input{
    position: relative;
    font-weight: bold;
    margin-top: 0px;
    height: inherit;
    width: inherit;
    opacity: 0.33;
}

span[class="search"]{
    position: absolute;
	left: 0;
	padding: 5px 5px 10px;
	font-size: 1em;
	color: #8f8f8f;
	pointer-events: none;
	letter-spacing: 0.05em;
	transition: 0.5s;
}



@keyframes spCl{
    0%{
        color: #FF4500;
    }
    35%{
        color: #FF1493;
    }
    60%{
        color: #FF00FF;
    }
    100%{
        color: #20B2AA;
    }
}

input:valid ~ span,
input:focus ~ span{
    color: #20B2AA;
	transform: translateX(-90px) translateY(-3px);
    font-size: 20px;
    animation: spCl 5s infinite alternate;
}

/* https://9elements.github.io/fancy-border-radius/#36.9.71.37--. */

.main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.profile{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.container_grid{
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-areas: 
    "A A A A   A A A A   C C C C"
    "B B B B   B B B B   B B B B";
}

.human{
    grid-area: A;
    margin-left: 50px;
    background-color: #28292d;;
    height: 300px;
    width: 600px;
    border-radius: 4px;

    display: grid;
    grid-template-areas: 
    "A A A A  A A A A   A A A A"
    "B B B B  B B B B   B B B B"
    ;
}

.fio{
    display: flex;
    justify-content: center;
    grid-area: A;
    border-radius: 4px;
}

.back{
    background-color: #8f8f8f;
    margin-top: 5%;
    width: 80%;
    height: 60%;
    border-radius: 4px;
}

.shadow{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 1rem crimson);
    animation: blBg 5s infinite alternate;
}

.blur{
    width:  100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 0.33;
    filter: blur(9px);
    filter: contrast(1.75);
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/brightness */
@keyframes blBg{
    0%{
        filter: drop-shadow(0 0 1rem #C71585);
    }
    35%{
        filter: drop-shadow(0 0 1.2rem #00FFFF);
    }
    60%{
        filter: drop-shadow(0 0 1.3rem #FF4500);
    }
    100%{
        filter: drop-shadow(0 0 1.5rem #008000);
    }
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container_form{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-areas: 
    "A A A A  A A A A   A A A A"
    "B B B B  B B B B   B B B B"
    ;
}

span[class="form_name"]{
    margin-top: 20px;
    text-align: center;
    grid-area: A;
    font-size: 40px;
}

span[class="form_surname"]{
    text-align: center;
    grid-area: B;
    font-size: 20px;
}

.back2{
    background-color: #8f8f8f;
    margin-top: 5%;
    width: 90%;
    height: 60%;
    border-radius: 4px;
}

.about_man{
    grid-area: B;
    display: flex;
    justify-content: center;
}

.container_form2{
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-areas: 
    "A A A A  C C C C   E E E E "
    "B B B B  D D D D   F F F F "
    ;
}

span[class="city"]{
    font-size: 20px;
    margin: 8px 0 0 50px;
    grid-area: A;
}

span[class="region"]{
    font-size: 20px;
    margin: 0 0 0 50px;
    grid-area: B;
}

span[class="age"]{
    font-size: 20px;
    margin: 8px 0 0 10px;
    grid-area: C;
}

span[class="bth"]{
    font-size: 20px;
    margin: 0 0 0 10px;
    grid-area: D;
}

span[class="male"]{
    font-size: 20px;
    margin: 8px 0 0 10px;
    grid-area: E;
}

span[class="raiting"]{
    font-size: 20px;
    margin: 0 0 0 10px;
    grid-area: F;
}

.about{
    grid-area: B;
}

text{
    font-size: 5px;
}

.icon{
    grid-area: C;
    display: flex;
    height: 300px;
    max-width: 400px;
    justify-content: center;
	overflow: hidden;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    animation: ava-animate 3s infinite alternate;
    border: 10px solid #fff;
	box-shadow: 10px 10px 10px #00FFFF;
}

@keyframes ava-animate{
	0% {
		border-radius: 55% 45% 60% 40% / 0% 88% 12% 100% ;
	}

	40% {
		border-radius: 79% 21% 40% 60% / 35% 44% 56% 65% ;
	}

	60% {
		border-radius: 13% 87% 55% 45% / 46% 18% 82% 54% ;
	}

	100% {
		border-radius: 23% 77% 24% 76% / 66% 45% 55% 34% 
	}
}

.img{
    animation: ava-bg 3s infinite alternate;
    filter: contrast(1.75);
}

@keyframes ava-bg{
	from {
		backgrop-filter: hue-rotate(0);
	}
	to{
		backgrop-filter: hue-rotate(90deg);
	}
}

/*Lenta*/

.lenta{
    margin-top: 30px;
    grid-area: B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #28292d;
    border-radius: 4px;
}

.right_opt:hover~.middle_lenta,.right_opt:hover~.footer, .middle_lenta:hover~.footer{
    filter: blur(2px);
}
.head:hover~.footer,.head:hover~.left_opt,.head:hover~.right_opt,.head:hover~.middle_lenta,.left_opt:hover~.head,.left_opt:hover~.footer,.left_opt:hover~.right_opt,.left_opt:hover~.middle_lenta{
    filter: blur(2px);
}
.head:hover{
    animation: hvBl 5s infinite alternate;
}
.left_opt:hover{
    animation: hvBl 5s infinite alternate;
}
.right_opt:hover{
    animation: hvBl 5s infinite alternate;
}
.middle_lenta:hover{
    animation: hvBl 5s infinite alternate;
}
.footer:hover{
    animation: hvBl 5s infinite alternate;
}

@keyframes hvBl {
    0%{
        filter: drop-shadow(0 0 1rem #C71585);
    }
    35%{
        filter: drop-shadow(0 0 1.2rem #00FFFF);
    }
    60%{
        filter: drop-shadow(0 0 1.3rem #FF4500);
    }
    100%{
        filter: drop-shadow(0 0 1.5rem #008000);
    }
}

.container_lenta{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "A A A A  A A A A  A A A A "
    "B B B B  C C C C  D D D D"
    "B B B B  C C C C  D D D D"
    "B B B B  C C C C  D D D D"
    "B B B B  C C C C  D D D D"
    "E E E E  E E E E  E E E E";
    gap: 20px;
}

.head{
    grid-area: A;
    width: 100%;
    height: 100%;
}

.center{
    display: grid;
    grid-template-areas: 
    "A A A A  B B B B  C C C C";
    gap: 20%;
    width: 90%;
    height: 50%;
    background: #8f8f8f;
    margin: 8px 0 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.online, .photo, .posts{
    font-size: 25px;
}

.left_opt{
    grid-area: B;
    width: 100%;
    height: 100%;
}

.content_left{
    width: 40%;
    height: 100%;
    margin: -20px 0 0 14%;
    background: #8f8f8f;
    border-radius: 8px;
}

.middle_lenta{
    grid-area: C;
    width: 150%;
    height: 100%;
}

.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110%;
    margin: -30px 0 0 -90px;
    background:#8f8f8f;
    border-radius: 8px;
}

.right_opt{
    grid-area: D;
    width: 100%;
    height: 100%;
}

.content_right{
    width: 40%;
    height: 100%;
    margin-left: 50%;
    margin-top: -20px;
    background: #8f8f8f;
    border-radius: 8px;
}

.footer{
    grid-area: E;
    width: 100%;
    height: 100%;
}

.content_footer{
    width: 90%;
    height: 50%;
    background: #8f8f8f;
    margin: 8% 0 0 5%;
    border-radius: 8px;
}

img[class="middle_img"]{
    margin: 5px;
    position: relative;
    width: 300px;
    height: 300px;
}