*, ::before, ::after{
	box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-left;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: black;
}

.preloader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(bg.jpg) no-repeat;   
}



.back{
    display: flex;
    justify-content: center;
    position: absolute;
    min-height: 100vh;
    left: 50%;
    right: 50%;
}


.window-background{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 540px;
    height: 620px;;
    overflow: hidden;
    z-index: 8;
    transform: translate(-50%, -50%);
}

.window{
    position: relative;
    width: 540px;
    height: 620px;
    background: #1c1c1c;
    border-radius: 8px;
    
}

.window::before{
    content:'';
    position: absolute;
    top: -50%;
	left: -50%;
    width: 540px;
    height: 620px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 10s linear infinite;
}


.window::after{
    content:'';
    position: absolute;
    top: -50%;
	left: -50%;
    width: 540px;
    height: 620px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 10s linear infinite;
    animation-delay: -5s;
}

@keyframes animate{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

.form{
    font-size: 15px;
	position: absolute;
	inset: 3px;
	border-radius: 8px;
	background: #28292d;
	z-index: 10;
	padding: 50px 40px;
	display: flex;
	flex-direction: column;
}

.form h2{
	color: #45f3ff;
	font-weight: 500;
    font-size: 25px;
	text-align: center;
	letter-spacing: 0.1em;
}

.inputBox{
	position: relative;
	width: 400px;
	margin-top: 20px;
}

.inputBox input{
    font-size: 30px;
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	border: none;
	outline: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	z-index: 10;
}	

.inputBox span{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	font-size: 1em;
	color: #8f8f8f;
	pointer-events: none;
	letter-spacing: 0.05em;
	transition: 0.5s;
}


.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
	color: #45f3ff;
	transform: translateX(-10px) translateY(-34px);
	font-size: 0.75em;
}

.inputBox i{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	transition: 0.5s ;
	pointer-events: none;
	z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
	height: 44px;
}

.links{
	display: flex;
	justify-content: space-between;
    font-size: 20px;
}

.links a{
	margin: 70px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: none;
}

.links a:hover, 
.links a:nth-child(2){
	color: #45f3ff;
}

input[type="submit"]{
	border: none;
	outline: none;
	background: #45f3ff;
	padding: 11px 20px;
	width: 200px;
    margin-left: 28%;
	margin-top: 10px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
}



i{
	animation: anim 5s linear infinite, animBg 5s linear infinite;
	animation-delay: calc(-0.3s * var(--i))
}


@keyframes anim{
	60%{
		background: #0f0;
	}
	80%,100%{
		background: #222;
	}
}

@keyframes animBg{
	0%{
		background: #FF1493;
	}
	50%{
		background: #32CD32;
	}
    100%{
		background: #45f3ff ;
	}
}

.background{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.parralax{
    width: 110%;
    height: 110%;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.main{
    
    
    
   
}